 body > div.slide {
  display: none;
  min-height: 95%;
  background: lightyellow;
  font-size: 154%;
  padding: 2%;
 }
 body > div.visible {display: block;}
 html, body {height: 95%;}
 body {background: lime; font-family: Verdana, sans-serif;}
 h1, h2, h3 {text-align: center; color: lightyellow; background: maroon;}
 li {opacity: 0.85;}
 li:hover {opacity: 1.0; text-align: justify;}
 iframe {width: 99%; height: 76%;}
 .compact > li {float: left; list-style-type: lower-alpha;}
 .two > li {width: 50%;}
 .three > li {width: 33%;}
 .four > li {width: 25%;}
 .five > li {width: 20%;}

